.about-us-title {
  position: absolute;
  color: #32a0fe;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  padding: 10px 8px;
}

.about-section {
  margin: auto;
  background-color: white;
}

@media screen and (min-width: 270px) {
  .about-section {
    width: 100%;
    padding-bottom: 25px;
  }

  .about-us-topper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
  }

  .small-hero-img, .about-details {
    width: 95%;
  }

  .about-details {
    margin-left: 3%;
  }

  .small-about-us-title {
    position: absolute;
    color: #32a0fe;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
    padding: 10px 8px;
    font-size: 32px;
  }

  .about-us-img {
    display: none;
  }

  .about-us-img-small {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 500px) {
  .about-us-title {
    font-size: 45px;
  }

  .about-section {
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-top: 75px;
    width: 80%;
  }

  .about-us-img, .about-us-img-small {
    width: 35%;
  }

  .about-details {
    width: 50%;
    font-size: 22px;
    line-height: 28px;
  }
}

@media screen and (min-width: 600px) {
  .about-us-title {
    font-size: 54px;
  }
}

@media screen and (min-width: 700px) {
  .about-us-title {
    font-size: 65px;
  }
}

@media screen and (min-width: 950px) {
  .about-us-title {
    font-size: 74px;
  }
}