body {
  overflow-x: hidden;
  background-color: #32a0fe;
}

.small-home-hero {
  display: grid;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 270px) {
  .small-home-hero {
    height: 500px;
  }

  .small-home-hero-logo {
    width: 100%;
  }
}

@media screen and (min-width: 300px) {
  .small-home-hero {
    height: 550px;
  }
}

@media screen and (min-width: 500px) {
  body {
    background-color: white;
    margin: 0;
  }

  .small-home-hero {
    display: none;
  }

  #small-header {
    display: none;
  }

  .company-photo {
    width: 100%;
  }

  .large-header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .large-logo, .logo-link {
    height: 100%;
  }

  .large-logo {
    margin-left: 12px;
  }

  .large-nav {
    width: 45%;
    display: flex;
    justify-content: space-around;
  }

  .large-header-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  .large-contact-btn {
    margin-right: 12px;
    text-decoration: none;
    color: white;
    background-color: #32a0fe;
    border: none;
    border-radius: 10px;
    padding: 10px 16px;
    font-size: 17px;
  }
}