body {
  overflow-x: hidden;
  background-color: #32a0fe;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.small-home-hero {
  display: grid;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 270px) {
  .large-header {
    display: none;
  }

  .large-img-container {
    display: none;
  }

  .small-home-hero {
    height: calc(100vh - 185px);
  }

  .small-home-hero-logo {
    width: 90%;
  }
}

@media screen and (min-width: 500px) {
  body {
    background-color: white;
    margin: 0;
  }

  .small-home-hero {
    display: none;
  }

  #small-header {
    display: none;
  }

  .large-img-container {
    width: 100%;
    margin: auto;
    background-color: rgb(180, 178, 178);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .large-hero-img {
    width: 65%;
  }

  .large-header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  .large-logo, .logo-link {
    height: 100%;
  }

  .large-logo {
    margin-left: 12px;
  }

  .large-nav {
    width: calc(100px * 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .large-header-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    height: 100%;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s;
  }

  .large-header-link:hover {
    background-color: #32a0fe;
    color: white;
  }

  .large-contact-btn {
    margin-right: 12px;
    text-decoration: none;
    color: white;
    background-color: #32a0fe;
    border: none;
    border-radius: 10px;
    padding: 8px 14px;
    font-size: 17px;
    border: 2px solid #32a0fe;
    transition: all 0.15s;
  }

  .large-contact-btn:hover {
    background-color: white;
    color: #32a0fe;
  }

  .services-dropdown-container {
    height: 100%;
    position: relative;
  }

  .dropdown {
    display: none;
    position: absolute;
    background-color: #32a0fe;
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 95px;
    opacity: 0;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: calc(100px * 3);
    z-index: 20;
  }

  .dropdown-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    transition: all 0.15s;
  }

  .dropdown-link:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 655px) {
  .large-header-link {
    font-size: 20px;
  }

  .large-contact-btn {
    padding: 10px 16px;
    font-size: 18px;
  }
}

@media screen and (min-width: 800px) {
  .large-header-link {
    min-width: 115px;
    font-size: 22px;
  }

  .dropdown {
    width: calc(115px * 3);
    height: 115px;
  }

  .dropdown-link {
    font-size: 16px;
  }
}

@keyframes showDropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideDropdown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes remainHoverStyle {
  0% {
    color: black;
    background-color: white;
  }

  100% {
    color: white;
    background-color: #32a0fe;
  }
}

@keyframes removeHoverStyle {
  0% {
    color: white;
    background-color: #32a0fe;
  }

  100% {
    color: black;
    background-color: white;
  }
}