body {
  overflow-x: hidden;
  background-color: #32a0fe;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.small-home-hero {
  display: grid;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 270px) {
  .large-header {
    display: none;
  }

  #large-header {
    display: none;
  }

  .large-img-container {
    display: none;
  }

  .small-home-hero {
    height: calc(100vh - 185px);
  }

  .small-home-hero-logo {
    width: 90%;
  }
}

@media screen and (min-width: 500px) {
  body {
    background-color: white;
    margin: 0;
  }

  .small-home-hero {
    display: none;
  }

  #small-header {
    display: none;
  }

  #large-header {
    display: block;
  }

  .large-img-container {
    width: 100%;
    margin: auto;
    background-color: rgb(180, 178, 178);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .large-hero-img {
    width: 65%;
  }
}